<div class="visible-sm visible-xs clearfix"></div>
<div class="row">
    <div class="col-xs-6 col-sm-6 col-lg-6 table-responsive">
        <h3>Contact </h3>
        <div class="row">
            <div class="col-md-6">
                <p>
                    Mihail Kogalniceanu nr. 420 <br />
                    400084 Cluj-Napoca <br />
                    Romania
                </p>
            </div>
            <div class="col-md-6">
                <p>
                    + 5555555555 <br />
                    + 7373737377  <br />

                </p>
            </div>
        </div>
    </div>
    <div class="col-md-6">

    </div>

</div>