@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>BloodBankWebApp</h1>
    <p class="lead">Do you want to learn about where to find us and the application process? Click learn more to learn more</p>
    <p><a href="" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            Want to donate some blood but don't know what, where and how? Don't worry we'll tell you all about it
        </p>
        <p><a class="btn btn-default" href="">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Help people and enjoy the benefits you get</h2>
        <p>---- </p>
        <p><a class="btn btn-default" href="">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Stuff</h2>
        <p></p>
        <p><a class="btn btn-default" href="">Learn more &raquo;</a></p>
    </div>
</div>